version: '3'
services:
  app:
    image: filippfrizzy/pong
    ports:
      - "8080:80"
    volumes:
      - /shared:/shared
    environment:
      - MYSQL_DATABASE={{ app_mysql_host }}
      - MYSQL_USERNAME={{ app_mysql_user }}
      - MYSQL_PASSWORD={{ app_mysql_password }}
    restart: unless-stopped
    logging:
      driver: syslog
      options:
        tag: {% raw -%}"{{.Name}}"{% endraw %}
